# Pandas Exercises

In [ ]:
import pandas as pd
# CSV dosyasını okuyun ve temperatures adlı değişkene atayın.
pd.read_csv("/content/temperatures.csv")
temperatures=pd.read_csv("/content/temperatures.csv")
temperatures.head()
# OPSİYONEL 
# Veri setini inceleyin. (.describe() etc.)

   Unnamed: 0        date     city        country  avg_temp_c
0           0  2000-01-01  Abidjan  Côte D'Ivoire      27.293
1           1  2000-02-01  Abidjan  Côte D'Ivoire      27.685
2           2  2000-03-01  Abidjan  Côte D'Ivoire      29.061
3           3  2000-04-01  Abidjan  Côte D'Ivoire      28.162
4           4  2000-05-01  Abidjan  Côte D'Ivoire      27.547

In [ ]:
temperatures.describe()

         Unnamed: 0    avg_temp_c
count  16500.000000  16407.000000
mean    8249.500000     19.732877
std     4763.284056      9.579635
min        0.000000    -23.495000
25%     4124.750000     14.870000
50%     8249.500000     22.119000
75%    12374.250000     27.001500
max    16499.000000     38.283000

1- Filtreleme yapacağız.

Filtrelemek için Tarih sütununu index olarak kullanın, ardından subset operasyonları için .loc[]'u kullanın. Önemli nokta tarihleri ISO 8601 formatında, yani yıl-ay-gün için "yyyy-aa-gg", yıl-ay için "yyyy-mm" ve yıl için "yyyy" biçiminde tutmanız.

Not: Birden fazla boolen condition birlikte kullanmak için '&' kullanabilirsiniz.

In [110]:
# 2010 ve 2011 tarihleri arasındaki sıcakları boolen condition kullanarak filtreleyin ve sonucu 'temperatures_bool' değişkinene atayın. (.isin() ya da .loc[] kullanmayın)
# Çıktıyı print ile yazdırın.
temperatures_bool=temperatures[("2010-01-01"<=temperatures["date"]) & (temperatures["date"]<="2011-12-31")]
print(temperatures_bool)

       Unnamed: 0        date     city        country  avg_temp_c  year
120           120  2010-01-01  Abidjan  Côte D'Ivoire      28.270  2010
121           121  2010-02-01  Abidjan  Côte D'Ivoire      29.262  2010
122           122  2010-03-01  Abidjan  Côte D'Ivoire      29.596  2010
123           123  2010-04-01  Abidjan  Côte D'Ivoire      29.068  2010
124           124  2010-05-01  Abidjan  Côte D'Ivoire      28.258  2010
...           ...         ...      ...            ...         ...   ...
16474       16474  2011-08-01     Xian          China      23.069  2011
16475       16475  2011-09-01     Xian          China      16.775  2011
16476       16476  2011-10-01     Xian          China      12.587  2011
16477       16477  2011-11-01     Xian          China       7.543  2011
16478       16478  2011-12-01     Xian          China      -0.490  2011

[2400 rows x 6 columns]

In [ ]:
# Tarih sütununu index yapın ve indexe göre sıralayın ve datayı 'temperatures_ind' isminde değişkene eşitleyin.
temperatures_ind = temperatures.set_index(["date"]).sort_index()
print(temperatures_ind)

            Unnamed: 0       city        country  avg_temp_c
date
2000-01-01           0    Abidjan  Côte D'Ivoire      27.293
2000-01-01        8415     Lahore       Pakistan      12.792
2000-01-01       15345   Tangshan          China      -5.406
2000-01-01        5115      Gizeh          Egypt      12.669
2000-01-01        8580    Lakhnau          India      15.152
...                ...        ...            ...         ...
2013-09-01       11549    Nanjing          China         NaN
2013-09-01       11714  New Delhi          India         NaN
2013-09-01       11879   New York  United States      17.408
2013-09-01       12209     Peking          China         NaN
2013-09-01       16499       Xian          China         NaN

[16500 rows x 4 columns]

In [ ]:
# temperatures_ind dataframe'ini 2010 ve 2011 tarihleri arasında filtrelemek için .loc[] kullanın.
# Çıktıyı print ile yazdırın.
temperatures_ind.loc["2010-01-01":"2011-12-01"]
print(temperatures_ind)

            Unnamed: 0       city        country  avg_temp_c
date
2000-01-01           0    Abidjan  Côte D'Ivoire      27.293
2000-01-01        8415     Lahore       Pakistan      12.792
2000-01-01       15345   Tangshan          China      -5.406
2000-01-01        5115      Gizeh          Egypt      12.669
2000-01-01        8580    Lakhnau          India      15.152
...                ...        ...            ...         ...
2013-09-01       11549    Nanjing          China         NaN
2013-09-01       11714  New Delhi          India         NaN
2013-09-01       11879   New York  United States      17.408
2013-09-01       12209     Peking          China         NaN
2013-09-01       16499       Xian          China         NaN

[16500 rows x 4 columns]

In [ ]:
# temperatures_ind dataframe'ini Agustos 2010, Şubat 2011 arasında filtrelemek için .loc[] kullanın.
# Çıktıyı print ile yazdırın.
temperatures_ind.loc["2010-08-01":"2011-02-01"]
print(temperatures_ind)

            Unnamed: 0       city        country  avg_temp_c
date
2000-01-01           0    Abidjan  Côte D'Ivoire      27.293
2000-01-01        8415     Lahore       Pakistan      12.792
2000-01-01       15345   Tangshan          China      -5.406
2000-01-01        5115      Gizeh          Egypt      12.669
2000-01-01        8580    Lakhnau          India      15.152
...                ...        ...            ...         ...
2013-09-01       11549    Nanjing          China         NaN
2013-09-01       11714  New Delhi          India         NaN
2013-09-01       11879   New York  United States      17.408
2013-09-01       12209     Peking          China         NaN
2013-09-01       16499       Xian          China         NaN

[16500 rows x 4 columns]

2- Pivot tablo oluşturacağız.

In [ ]:
# Tarih sütununun yıl kısmını sıcaklıklara bir yıl sütunu olarak ekleyin.
temperatures["year"]=temperatures["date"].apply(lambda x: pd.Series(str(x).split("-"))[0])
temperatures

       Unnamed: 0        date     city        country  avg_temp_c  year
0               0  2000-01-01  Abidjan  Côte D'Ivoire      27.293  2000
1               1  2000-02-01  Abidjan  Côte D'Ivoire      27.685  2000
2               2  2000-03-01  Abidjan  Côte D'Ivoire      29.061  2000
3               3  2000-04-01  Abidjan  Côte D'Ivoire      28.162  2000
4               4  2000-05-01  Abidjan  Côte D'Ivoire      27.547  2000
...           ...         ...      ...            ...         ...   ...
16495       16495  2013-05-01     Xian          China      18.979  2013
16496       16496  2013-06-01     Xian          China      23.522  2013
16497       16497  2013-07-01     Xian          China      25.251  2013
16498       16498  2013-08-01     Xian          China      24.528  2013
16499       16499  2013-09-01     Xian          China         NaN  2013

[16500 rows x 6 columns]

In [ ]:
# Avg_temp_c sütunundan, satır olarak country ve city ve sütun olarak year olacak şekilde bir pivot tablo yapın. 
# temp_by_country_city_vs_year isminde bir değişkene atayın ve sonucu print ile yazdırın.
temp_by_country_city_vs_year=temperatures.pivot_table("avg_temp_c",index=["country","city"],columns="year")
print(temp_by_country_city_vs_year)

year                                 2000       2001       2002       2003  \
country       city
Afghanistan   Kabul             15.822667  15.847917  15.714583  15.132583
Angola        Luanda            24.410333  24.427083  24.790917  24.867167
Australia     Melbourne         14.320083  14.180000  14.075833  13.985583
              Sydney            17.567417  17.854500  17.733833  17.592333
Bangladesh    Dhaka             25.905250  25.931250  26.095000  25.927417
...                                   ...        ...        ...        ...
United States Chicago           11.089667  11.703083  11.532083  10.481583
              Los Angeles       16.643333  16.466250  16.430250  16.944667
              New York           9.969083  10.931000  11.252167   9.836000
Vietnam       Ho Chi Minh City  27.588917  27.831750  28.064750  27.827667
Zimbabwe      Harare            20.283667  20.861000  21.079333  20.889167

year                                 2004       2005       2006       2007  \
country       city
Afghanistan   Kabul             16.128417  14.847500  15.798500  15.518000
Angola        Luanda            24.216167  24.414583  24.138417  24.241583
Australia     Melbourne         13.742083  14.378500  13.991083  14.991833
              Sydney            17.869667  18.028083  17.749500  18.020833
Bangladesh    Dhaka             26.136083  26.193333  26.440417  25.951333
...                                   ...        ...        ...        ...
United States Chicago           10.943417  11.583833  11.870500  11.448333
              Los Angeles       16.552833  16.431417  16.623083  16.699917
              New York          10.389500  10.681417  11.519250  10.627333
Vietnam       Ho Chi Minh City  27.686583  27.884000  28.044000  27.866667
Zimbabwe      Harare            20.307667  21.487417  20.699750  20.746250

year                                 2008       2009       2010       2011  \
country       city
Afghanistan   Kabul             15.479250  15.093333  15.676000  15.812167
Angola        Luanda            24.266333  24.325083  24.440250  24.150750
Australia     Melbourne         14.110583  14.647417  14.231667  14.190917
              Sydney            17.321083  18.175833  17.999000  17.713333
Bangladesh    Dhaka             26.004500  26.535583  26.648167  25.803250
...                                   ...        ...        ...        ...
United States Chicago           10.242417  10.298333  11.815917  11.214250
              Los Angeles       17.014750  16.677000  15.887000  15.874833
              New York          10.641667  10.141833  11.357583  11.272250
Vietnam       Ho Chi Minh City  27.611417  27.853333  28.281750  27.675417
Zimbabwe      Harare            20.680500  20.523833  21.165833  20.781750

year                                 2012       2013
country       city
Afghanistan   Kabul             14.510333  16.206125
Angola        Luanda            24.240083  24.553875
Australia     Melbourne         14.268667  14.741500
              Sydney            17.474333  18.089750
Bangladesh    Dhaka             26.283583  26.587000
...                                   ...        ...
United States Chicago           12.821250  11.586889
              Los Angeles       17.089583  18.120667
              New York          11.971500  12.163889
Vietnam       Ho Chi Minh City  28.248750  28.455000
Zimbabwe      Harare            20.523333  19.756500

[100 rows x 14 columns]

3- Bazı anlamsal çıkarımlar yapmak için istatistik hesaplamaları yapacağız.

In [ ]:
# Her yıl için ortalama sıcaklığı hesaplayın ve 'mean_temp_by_year' adlı değişkene atayın.
mean_temp_by_year = temperatures.groupby("year")["avg_temp_c"].mean()
mean_temp_by_year

year
2000    19.506243
2001    19.679352
2002    19.855685
2003    19.630197
2004    19.672204
2005    19.607239
2006    19.793993
2007    19.854270
2008    19.608778
2009    19.833752
2010    19.911734
2011    19.549197
2012    19.668239
2013    20.263006
Name: avg_temp_c, dtype: float64

In [ ]:
# 'mean_temp_by_year' içinde ortalama sıcaklığın en yüksek olduğu yılı filtreleyin. Print ile sonucu yazdırın.

print(mean_temp_by_year.idxmax())

2013

In [ ]:
# Her şehir için (sütunlar boyunca) ortalama sıcaklığı hesaplayın ve 'mean_temp_by_city' değerine atayın.
mean_temp_by_city =temperatures.groupby("city")["avg_temp_c"].mean()
mean_temp_by_city

city
Abidjan        26.971024
Addis Abeba    18.425378
Ahmadabad      27.431195
Aleppo         18.501244
Alexandria     21.407896
                 ...
Tokyo          13.413512
Toronto         7.230067
Umm Durman     29.981780
Wuhan          17.749591
Xian           12.488933
Name: avg_temp_c, Length: 100, dtype: float64

In [ ]:
#'mean_temp_by_city' içinde en düşük ortalama sıcaklığa sahip şehiri filtreleyin. Print ile sonucu yazdırın.
print(mean_temp_by_city.idxmin())

Harbin